*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color:#000;
    font-size: 25px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    color: #262622;
    text-decoration: none;
}

.container {
    max-width: 1100px;
    margin: auto;
    width: 100%;
    height: 100vh;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px 0;
    font-size: 20px;
}

ul {
    list-style: none;
}

.logo img {
    width: 200px; 
    height: 100px;
}

.main-nav ul {
    display: flex;
    
}

.main-nav ul li {
    padding: 20px;

}


.main-nav ul li:hover {
    background-color: rgba(38, 38, 34, 0.8);

    
}

.main-nav ul li a:hover {
    color: red;
    
    
}


.btn-register{
    color: white;
    background: red;
    cursor: pointer;
}


.btn-register {
    border: none;
}

.btn-register {
    color: white;
    background: red;
    border: none;
    padding: 10px 20px; 
    margin: 5px;
}

.divider {
    border-top: 2px solid #efecec; 
    margin-top: 20px;
    border-radius: 2px;
    width: 100%;
}




.full-page {
    
    width: 100%;
    height: 90vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: url('./images/21a783b2-e417-413e-bd9a-1a36dcdf4181.jpeg') no-repeat center center/cover; */
    
}
.uper {
    height: 10vh;
    display: flex;
    justify-content: center;
    

}

.uper ul {

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}
.uper ul li {
    margin-right: 20px; 
}

.uper ul li a:hover {
    color: red;
}

.back.active{
    color: red;
}

.title ul{

    list-style: none;
    padding: 0;
    text-align: center;
    z-index: 1;
   
}

.tire {
    font-weight: bold;
    font-size: 50px;
    color: white;
   
}

.tire span{
    color: red;
}
.summit {
    letter-spacing: 10px;
    color: white;
}

.africa {
    letter-spacing: 6px;
    color: white ;
    opacity: 0.6;
    border-bottom: 2px solid #fff;
    border-top-right-radius: 3px;
}

.t {
    color: #efecec;
}

.video-container {
    position: relative;
    z-index: 0;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100vw; 
    height: 90vh; */
    object-fit: cover;
    z-index: 1;


}